In [1]:
import pandas as pd 

df = pd.read_csv("../data/raw/yellow_tripdata_sample_2019-01.csv")
df.head(10)

/var/folders/5w/fg65_rp17lz39z89p0nkv8ch0000gn/T/ipykernel_79826/1368218925.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pickup_location_id,dropoff_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-15 03:36:12,2019-01-15 03:42:19,1,1.0,1,N,230,48,1,6.5,0.5,0.5,1.95,0.00,0.3,9.75,NaN
1,1,2019-01-25 18:20:32,2019-01-25 18:26:55,1,0.8,1,N,112,112,1,6.0,1.0,0.5,1.55,0.00,0.3,9.35,0.0
2,1,2019-01-05 06:47:31,2019-01-05 06:52:19,1,1.1,1,N,107,4,2,6.0,0.0,0.5,0.00,0.00,0.3,6.80,NaN
3,1,2019-01-09 15:08:02,2019-01-09 15:20:17,1,2.5,1,N,143,158,1,11.0,0.0,0.5,3.00,0.00,0.3,14.80,NaN
4,1,2019-01-25 18:49:51,2019-01-25 18:56:44,1,0.8,1,N,246,90,1,6.5,1.0,0.5,1.65,0.00,0.3,9.95,0.0
5,1,2019-01-26 18:24:17,2019-01-26 18:39:27,1,1.3,1,N,144,45,2,10.5,0.0,0.5,0.00,0.00,0.3,11.30,0.0
6,1,2019-01-18 15:24:25,2019-01-18 15:40:01,1,3.6,1,N,13,68,1,14.5,0.0,0.5,3.80,0.00,0.3,19.10,NaN
7,1,2019-01-03 14:56:38,2019-01-03 15:10:30,1,1.8,1,N,239,237,1,10.5,0.0,0.5,2.25,0.00,0.3,13.55,NaN
8,1,2019-01-04 15:50:52,2019-01-04 16:36:47,1,20.8,2,N,132,238,1,52.0,0.0,0.5,11.70,5.76,0.3,70.26,NaN
9,1,2019-01-05 17:55:44,2019-01-05 18:10:41,1,1.2,1,N,264,264,2,10.0,0.0,0.5,0.00,0.00,0.3,10.80,NaN

In [4]:
df = df.sort_values(by="dropoff_datetime", ascending=True)
df.head(20)

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pickup_location_id,dropoff_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
7307,1,2019-01-01 00:16:10,2019-01-01 00:26:46,2,1.20,1,N,170,170,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30,NaN
3401,1,2019-01-01 00:17:00,2019-01-01 00:26:47,1,1.50,1,N,114,232,2,8.5,0.5,0.5,0.00,0.0,0.3,9.80,NaN
5773,1,2019-01-01 00:24:33,2019-01-01 00:28:57,1,1.30,1,N,141,263,1,6.0,0.5,0.5,1.00,0.0,0.3,8.30,NaN
7837,2,2019-01-01 00:12:28,2019-01-01 00:30:35,2,3.04,1,N,239,141,1,14.5,0.5,0.5,3.16,0.0,0.3,18.96,NaN
8083,1,2019-01-01 00:19:42,2019-01-01 00:30:54,2,1.30,1,N,148,107,1,8.5,0.5,0.5,2.45,0.0,0.3,12.25,NaN
98,1,2019-01-01 00:00:50,2019-01-01 00:31:48,1,18.00,2,N,132,140,1,52.0,0.0,0.5,7.00,0.0,0.3,59.80,NaN
5837,1,2019-01-01 00:32:12,2019-01-01 00:33:41,1,0.20,1,N,79,79,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,NaN
6940,2,2019-01-01 00:30:24,2019-01-01 00:34:22,1,0.93,1,N,161,162,2,5.0,0.5,0.5,0.00,0.0,0.3,6.30,NaN
1932,2,2019-01-01 00:41:22,2019-01-01 00:47:55,1,0.84,1,N,65,25,1,6.5,0.5,0.5,1.56,0.0,0.3,9.36,NaN
8153,2,2019-01-01 00:42:05,2019-01-01 00:48:01,2,1.06,1,N,4,148,1,6.0,0.5,0.5,1.46,0.0,0.3,8.76,NaN
7809,2,2019-01-01 00:29:11,2019-01-01 00:49:11,2,7.94,1,N,255,181,1,25.0,0.5,0.5,7.89,0.0,0.3,34.19,NaN
1687,2,2019-01-01 00:44:01,2019-01-01 00:49:52,1,0.81,1,N,68,186,1,6.0,0.5,0.5,1.46,0.0,0.3,8.76,NaN
6837,2,2019-01-01 00:44:56,2019-01-01 00:51:02,1,1.19,1,N,262,237,1,6.0,0.5,0.5,1.46,0.0,0.3,8.76,NaN
8165,1,2019-01-01 00:42:48,2019-01-01 00:53:38,2,1.80,1,N,231,87,1,9.0,0.5,0.5,2.55,0.0,0.3,12.85,NaN
432,1,2019-01-01 00:50:20,2019-01-01 01:07:42,1,2.30,1,N,68,79,2,12.5,0.5,0.5,0.00,0.0,0.3,13.80,NaN
8216,1,2019-01-01 00:59:57,2019-01-01 01:09:44,2,1.30,1,N,141,162,1,8.0,0.5,0.5,1.85,0.0,0.3,11.15,NaN
8016,2,2019-01-01 01:08:25,2019-01-01 01:14:57,2,1.57,1,N,43,229,1,7.0,0.5,0.5,1.66,0.0,0.3,9.96,NaN
8475,2,2019-01-01 00:50:28,2019-01-01 01:15:19,2,5.82,1,N,148,239,1,20.0,0.5,0.5,4.26,0.0,0.3,25.56,NaN
2237,2,2019-01-01 00:56:29,2019-01-01 01:15:51,1,3.33,1,N,45,68,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30,NaN
4512,2,2019-01-01 01:13:49,2019-01-01 01:17:21,1,0.58,1,N,262,263,1,4.5,0.5,0.5,1.45,0.0,0.3,7.25,NaN

In [6]:
cut_off_index = int(len(df) * 0.8)
df.iloc[:cut_off_index].to_csv('../data/raw/data1.csv')
df.iloc[cut_off_index:].to_csv('../data/raw/data2.csv')